.check-box .box {

    -fx-background-color: white;
    -fx-border-color: #186C20;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {

    -fx-background-color: #78CC80;
}