.choice-box {
    -fx-background-color: #78CC80;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color:  #186C20;
    -fx-font-family: "Exo 2";
}

.choice-box .context-menu {
    -fx-background-color: #d5d3d3;
    -fx-font-family: "Exo 2";
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color:  #186C20;
}

.choice-box .menu-item:focused { -fx-background-color: #78CC80; }

.choice-box .menu-item > .label {
    -fx-text-fill: black;
    -fx-font-family: "Exo 2";
}

.choice-box .menu-item:focused > .label {
    -fx-text-fill: black;
    -fx-font-family: "Exo 2";
}