.green_bordered_text_field{
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color:  #186C20;
    -fx-font-family: "Exo 2";
    -fx-font-size: 13px;
}

.orange_text_field{
    -fx-background-color: #f29c78;
    -fx-border-color: #B34421;
    -fx-color: #f29c78;
}